/* --------------------------------------------------------
Style Sheet for list style demo

version: 1.0
last modified: 26.06.2019 by Someone Else
author: Amin Soltani
email: asoltani927@gmail.com
website: https://github.com/asoltani927 https://viraseper.com https://asoltani.ir
----------------------------------------------------------*/

*{

}

body{
    padding-top: 5%;
}